Flask==3.0.2
SQLAlchemy==2.0.20
psycopg2-binary==2.9.7
python-dotenv==1.0.1
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Flask-WTF==1.1.1
Flask-Migrate==4.0.5
Werkzeug==3.0.1
GeoAlchemy2==0.14.1
shapely==2.0.1
pandas==2.2.0
streamlit==1.31.0
qrcode[pil]==7.4.2
pillow==10.2.0